@tailwind base;
@tailwind components;
@tailwind utilities;


/*
* {
  scrollbar-width: thin;
  scrollbar-color: blue #10B981;
}

*/

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #18181B;
}

*::-webkit-scrollbar-thumb {
  background-color: #10B981;
}
